<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Type" %><br>
    <%= f.select :typ, [['Lecture'],['Laboratories'],['Project'],['Practice']] %>
  </div>
  <div class="field">
    <%= f.label :lecturer %><br>
    <%= f.text_field :lecturer %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Deans Group" %><br>
    <%= f.text_field :id_deans_group %>
  </div>
  <div class="field">
    <%= f.label "Subdeans Group" %><br>
    <%= f.text_field :id_subdeans_group %>
  </div>
   <div class="field">
    <%= f.label "Cycle" %><br>
    0 - every week, 1 - first week, 2 - second week<br>
    <%= f.text_field :cycle %>
  </div>
    <div class="field">
    <%= f.label "Day" %><br>
    <%= f.select :day, [['Monday',1],['Tuesday',2],['Wednsday',3],['Thursday',4],['Friday',5]] %>
  </div>
    <div class="field">
    <%= f.label "Start time" %><br>
    <%= f.time_select :htime %>
  </div>
      <div class="field">
    <%= f.label "End time" %><br>
    <%= f.time_select :ehtime %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
