<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @course.typ %>
</p>

<p>
  <strong>Lecturer:</strong>
  <%= @course.lecturer %>
</p>

<p>
  <strong>Place:</strong>
  <%= @course.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>


<p>
  <strong>Deans group:</strong>
  <%= @course.id_deans_group %>
</p>

<p>
  <strong>Subdeans group:</strong>
  <%= @course.id_subdeans_group %>
</p>

<p>

<p>
  <strong>Cycle:</strong>
  <% if @course.cycle == 0 %>
                Every week
              <% elsif @course.cycle == 1 %>
                Odd week
              <% elsif @course.cycle == 2 %>
                 Even week
            <%end%>
</p>


<p>
  <strong>Day:</strong>
  <% if @course.day == 1 %>
                      Monday
                    <% elsif @course.day == 2 %>
                      Tuesday
                    <% elsif @course.day == 3 %>
                      Wednsday
                    <% elsif @course.day == 4 %>
                      Thursday
                    <% elsif @course.day == 5 %>
                      Friday
                    <%end%>
</p>

<p>
  <strong>Time:</strong>
  <%= @course.htime.strftime('%H:%M:%S') %> - <%= @course.ehtime.strftime('%H:%M:%S') %>
</p> 



<%= link_to 'Edit', edit_course_path(@course) %> |

<%= link_to 'Back', courses_path %>
